<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virtual Reality</title>
  <style>
    .half {
      width: 50%;
      float: left;
    }
    .half h1 {
      max-width: 80%;
      margin-top: 80px;
      padding: 0 10%;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="half">
    <h1>This is the start of something very cool</h1>
  </div>
  <div class="half">
    <h1>This is the start of something very cool</h1>
  </div>
</body>
</html>