<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= desc %>">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <% if (includeBootstrap && !includeSass) { %><link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"><% } %>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild --><% if (includeModernizr) { %>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <% } %>
    <!--[if lt IE 9]>
    <!-- build:js scripts/vendor/respond.js -->
    <script src="../bower_components/respond/dest/respond.min.js"></script>
    <!-- endbuild -->
    <![endif]-->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= twitter %>">
    <meta name="twitter:title" content="<%= socialTitle %>">
    <meta name="twitter:description" content="<%= socialDesc %>">
    <!-- NBED check png/jpg filetypes: -->
    <meta property="og:image" content="<%= url %>social/twitter.png" />
    <script type="text/javascript">
    var addthis_share = addthis_share || {};
    addthis_share = {
      passthrough : {
        twitter: {
          via: "<%= twitter %>",
          text: "<%= tweet %>"
        }
      }
    };
    </script>

    <!-- G+ -->
    <meta itemprop="name" content="<%= socialTitle %>">
    <meta itemprop="description" content="<%= socialDesc %>">
    <meta itemprop="image" content="<%= url %>/social/og200.png">

    <!-- Facebook Markup -->
    <meta property="og:title" content="<%= socialTitle %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= url %>/social/og200.png" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image" content="<%= url %>/social/og1200.png" />
    <meta property="og:image:width" content="1200" /> 
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="<%= url %>"/>
    <meta property="og:description" content="<%= socialDesc %>"/>

    <meta name="linkstant" content="10500108" />
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <noscript>
      <p class="browsehappy">For full functionality of this site it is necessary to enable JavaScript. Here are <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.</p>
    </noscript>

    <% if (includeBootstrap) { %>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted"><%= title %></h3>
      </div>

      <div class="jumbotron">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">Always a pleasure scaffolding your apps.</p>
        <p><a class="btn btn-lg btn-success" href="#">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>HTML5 Boilerplate</h4>
          <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

          <% if (includeSass) { %><h4>Sass</h4>
          <p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>
          <% } %>

          <h4>Bootstrap</h4>
          <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>

          <% if (includeModernizr) { %><h4>Modernizr</h4>
          <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
          <% } %>
        </div>
      </div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>

    </div>
    <% } else { %>
    <div class="container">
      <div class="header wrapper">
        <h1><%= title %></h1>
      </div>
      <div class="main wrapper">
        <p>main</p>
      </div>
      <div class="footer wrapper">
        <p>footer</p>
      </div>
    </div>
    <% } %>

    <div id="embed" style="display:none;">
      <h5>Love it? Embed it on your website or blog:</h5>
      <a href="#" class="close">&times;</a>
      <!-- NBED check client name and png/jpg filetypes: -->
      <textarea onClick="this.select();">&lt;a href=&quot;<%= url %>&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;<%= url %>social/embed.png&quot; border=&quot;0&quot; width=&quot;550&quot; height=&quot;550&quot; /&gt;&lt;/a&gt;&lt;br /&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Click image to open interactive version (via &lt;a href=&quot;http://www.<%= clientName %>.co.uk/&quot;&gt;<%= clientName %>&lt;/a&gt;).&lt;/span&gt;</textarea>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- NBED: Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position' : 'left',
          'services' : 'facebook,twitter,google_plusone_share,linkedin,more'
        },
        'follow' : {
          'services' : [
            {'service' : 'facebook', 'id' : 'Simply.Business.Insurance'},
            {'service' : 'twitter', 'id' : 'simplybusiness'},
              // {'service' : 'linkedin', 'id' : 'simply-business_39914'},
              {'service' : 'google_plusone', 'id' : 'simplybusiness'}
          ]
        },
        'whatsnext' : {},
        'recommended' : {}
      });
    </script>

    <script src="http://www.linkstant.com/linkstant.js" type="text/javascript"></script>
  </body>
</html>
