//-- Main --//
<% if (includeBootstrap) { %>$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
<% } else { %>// bower:scss
// endbower
<% } %>
@import "base";

body {
}
a {
  color: $c_primary;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

@import "social";